
@model List<WebLinhPhuKienMayTinh.Models.EF.CATEGORY>

    <div class="header_slide">
        <div class="header_bottom_left">
            <div class="categories">
                <ul>
                    <h2>Danh mục sản phẩm</h2>
                    @foreach (var item in Model)
                    {

                        <li><a href="#">@item.catName</a></li>

                    }

                </ul>
            </div>

        </div>

        <div class="clear"></div>
    </div>


