
<div class="content">
    <div class="section group">
        <div class="heading">
            <div class="onlinepayment">
                <form action="" method="">

                    <h3>Nhập thẻ thanh toán</h3>
                    <select name="bank" id="">
                        <option value="null">Lựa chọn ngân hàng</option>
                        <option value="ACB">Ngân hàng Á Châu</option>
                        <option value="DongABank">Ngân hàng Đông Á</option>
                        <option value="BacABank">Ngân hàng Bắc Á</option>
                        <option value="NamABank">Ngân hàng Nam Á</option>
                        <option value="VIB">Ngân hàng quốc tế</option>
                        <option value="SCB">Ngân hàng Sài Gòn</option>
                        <option value="VietABank">Ngân hàng Việt Á</option>
                        <option value="BIDV">Ngân hàng Đầu tư và Phát triển Việt Nam</option>
                    </select>
                    <br>
                    <br>
                    Tên tài khoản:<br>
                    <input type="text" name="name" placeholder="VD:NGUYEN VAN A"><br>
                    Mật khẩu:<br>
                    <input type="password" name="pass" placeholder="Mật khẩu"><br>
                    Mã xác nhận:<br>
                    <input type="text" name="code" placeholder="VD:123"><br>

                </form>
            </div>
        </div>
    </div>
</div>
</div>
<a style="background:#4267b2, color:white" href="/thanh-toan-online/">Quay lại</a>
<a style="padding-bottom: 20px" , href="/thanh-toan-offline"><input type="submit" value="Tiếp tục" class="a_order"></a>
