

<div class="content">
    <div class="section group">
        <div class="heading">
            <h3>Thanh toán online</h3>
            <div class="onlinepayment">
                Thanh toán bằng thẻ quốc tế Visa,Master,JBC <span><a href="/thanh-toan-visa/" class="luachon">Chọn</a></span><br>
                Thẻ ATM nội địa/Internet Banking <span><a href="/thanh-toan-noi-dia/" class="luachon">Chọn</a></span><br>
            </div>


        </div>
    </div>
</div>
</div>

<a style="background:#4267b2, color:white" href="/thanh-toan/">Quay lại</a>





