
<div class="content">
    <div class="section group">
        <div class="heading">
            <div class="onlinepayment">
                <form action="" method="">
                    <h3>Nhập thẻ thanh toán</h3>

                    Số thẻ:<br>
                    <input type="text" name="cardnumber" placeholder="VD:0000 0000 0000 0000"><br>
                    Tên in trên thẻ:<br>
                    <input type="text" name="name" placeholder="VD:NGUYEN VAN A"><br>
                    Ngày hết hạn:<br>
                    <input type="text" name="date" placeholder="mm/yyyy"><br>
                    Mã bảo mật:<br>
                    <input type="text" name="code" placeholder="VD:123"><br>

                </form>
            </div>
        </div>
    </div>
</div>
</div>
<a style="background:#4267b2, color:white" href="/thanh-toan-online/">
    Quay lại</>
    <a style="padding-bottom: 20px;" , href="/thanh-toan-offline/"><input type="submit" value="Tiếp tục" class="a_order"></a>
